---
import Button from '../components/Button.astro';
import Image from "astro/components/Image.astro";
import logo from "../assets/images/logo.png"



---
<div x-data="{ showmenu: false }" class=" px-4 fixed lg:static" >
    <div id="navbar" class="flex flex-row justify-between">
    <div id="logo" class="ml-10">
		<Image src={logo} alt="logo" class="w-20 h-20 "></Image>
        <a href="#hero"></a>
    </div>
    <nav id="desktopmenu" class="hidden lg:block">
        <ul class="flex flex-row gap-10 text-lg font-poppins list-none">
            <li class=""><a class="visited: text-black-100 no-underline " href="#hero">Problemet med digitalt skrald</a></li>
            <li class=""><a class="no-underline text-black-100 hover:text-diner-100" href="#digitalt_skrald">Hvad er digitalt skrald?</a></li>
            <li class=""><a class="no-underline text-black-100 hover:text-diner-100" href="#vidste_du">Vidste du?</a></li>
            <li class=""><a class="no-underline text-black-100 hover:text-diner-100" href="#How_to">How-to</a></li>
            <li class=""><a class="no-underline text-black-100 hover:text-diner-100" href="#hvor_meget">Hvor meget har jeg slettet?</a></li>
            <Button>Registrer dig</Button>
        </ul>
    </nav>
    <button id="burgermenu" class="lg:hidden bg-rose-100" x-on:click="showmenu = ! showmenu">Menu</button>
    </div>
    <nav id="mobilmenu" class="flex flex-col content-center pt-4 " 
    x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
        <ul class="font-poppins list-none">
            <li class="text-center"><a class="no-underline text-black-100" href="#hero">Problemet med digitalt skrald</a></li>
            <li class="text-center"><a class="no-underline text-black-100" href="#digitalt_skrald">Hvad er digitalt skrald?</a></li>
            <li class="text-center"><a class="no-underline text-black-100" href="#vidste_du">Vidste du?</a></li>
            <li class="text-center"><a class="no-underline text-black-100" href="#How_to">How-to</a></li>
            <li class="text-center"><a class="no-underline text-black-100" href="#hvor_meget">Hvor meget har jeg slettet?</a></li>
            <div class="text-center">
            <Button>Registrer dig</Button>
            </div>
        </ul>
    </nav>
    <hr class="mx-10">
</div>